<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restourant catalogue for you">
   
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="manifest"href="manifest.json">
  
   
   
    <title>_Se@rchResto_</title>
</head>
<body>
    <a href="#mainContent"class="skip-to-content">Skip to content</a>
    <header class="app-bar">
        <div class="app_bar__brand">
            <div class="app-bar__menu">
                <button aria-label="hamburgerButton" id="hamburgerButton">☰</button>
            </div>
            <a href="#"class="logo">Se@rchResto</a>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home-page">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://profolio-e5d89.web.app/">About Me</a></li>
            </ul>
            
        </nav>
    </header>
    <div class="hero-image">
        <div class="text-header">
            <h1>Cari Restoran Yang Anda Suka</h1>
            <h2>Disini</h2>
        </div>
    </div>

    <div id="Line"class="line">
        <span></span>
        <h2>Nama Restoran</h2>
        <span></span>
    </div>
    <main id="mainContent"></main>
    <footer>
       <p>Copyright © 2020 - Se@rchResto ”.</p> 
    </footer>
</body>
</html>